<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button class="tab" tab="tab-temp">
      <ion-img src="./../../assets/icons/tab-temp.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button class="tab" tab="tab-pflanze">
      <ion-img src="./../../assets/icons/tab-pflanze.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button class="tab" tab="tab-licht">
      <ion-img src="./../../assets/icons/tab-licht.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button class="tab" tab="tab-fenster">
      <ion-img src="./../../assets/icons/tab-fenster.png"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
